@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';


// Font icons
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

//images list
@import "images_list";

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
 * END OF FOUNDATION GENERATED
 */


/*
 * MENU
 * 1. Mixin
 * 2. Start of Page
 * 3. Navigation
 * 4. Partner
 * 5. Categories - Holiday
 * 6. Footer
 * 7. General Classes
 */

/*
 *  1. Mixin
 */
@mixin background($imgpath,$position,$repeat) {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url($imgpath);
    position: $position;
    repeat: $repeat;
    size: cover;
  }
  display:block;
}

@mixin block-background ($imgpath){
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.3)), url($imgpath); //darken overlay.
  background-size: cover;

  &:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.3)), url($imgpath); //darken overlay.
    background: url($imgpath);
    background-size: cover;
    color:black;
  }
}

/*
 * 2. Start of page
 */

.homehead {
  //loads image
  @include background('/assets/headerBackgroundProgressive.jpg', center top, no-repeat);
}

.container-center {
  //contains the "Share your dream" section
  padding-top: 25vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  text-align: center;
  color:$white;
}

.main-home{
  margin: auto;
  padding-top: 4vh;
}

.fullpage{
  min-height: 100vh;
}

/*
 * 3. Navigation
 */

.title-bar{

  @media screen and (min-width: 45em){
    //fixes flashing of menu bar on page load if screen doesn't require menubar
    display:none;
  }
  
  background-color: darken($themecolor, 5%);

  .title-bar-title{
    //to allow for the entire menu title-bar to be toggleable
    width:100%
  }
}

.top-bar{

  @media screen and (min-width: 40em) {
    @media screen and (max-width: 66.95rem){
      //stops menu links border from intersecting with the top of the page.
      padding-top: 20px;
    }
    width: 100%;
    background: none;
    color: white;
    text-align: center;
    ul {
      background: none;
      color: white;
      li {
        height: 2.5em;
        a {
          display: inline;
          background: none;
          color: $topbar-link-color;

          border: solid transparent;
          padding: 0.4rem;
          -webkit-border-radius: 1.4rem;
          -moz-border-radius: 1.4rem;
          border-radius: 1.4rem;
          &:hover {
            border: solid white;
          }
        }
      }
    }
  }

  @media screen and (max-width: 40em){
    /*
     * -- drill-down menu with red of theme mixed into dark red linear gradient.
     */

    text-align: center;
    background: linear-gradient($themecolor, darkred);
    ul{
      background:transparent;
      a{
        color: white;
        &:hover{
          background: $mobilehovercolor;
          color: darken($themecolor, 10);
        }
      }
    }
  }

  //left side: Contains the site title
  .top-bar-left{
    margin-top: 10px;
    margin-left: 15%;
    font-size: 1.5em;
    a:hover{
      border: solid transparent;
      color: $themecolor;
    }

    @media screen and (max-width: 45em){
      //above for mobile screen
      margin: auto;
      ul{
        overflow: hidden;
        li{
          width: 100%;
          a:hover{
            border: hidden;
          }
        }
      }
    }
  }

  //contains the navigation links
  .top-bar-right{
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 5%;
  }
}

/*
 * 4. Partner
 */

.partner-body{
  padding-top: 3vh;

  @media screen and (max-width: 40em){
    .panel{
      padding: 0 3% 0;
    }
  }

  h5{
    font-weight: lighter;
    color: lightgray;
  }

  p {
    color:$grey;
  }

  .partner-mainheading{
    padding-bottom: 3vh;
  }

  .partner-image{
    position: relative;
    display: inline-block;
    img{
      background-size: auto;
      height: 122px;
      width: 122px;
      margin: auto;
      border-radius: 64px 64px 64px 64px;
    }
    &:after { //note any changes will affect all partner icons
      font-family: 'fontello';
      font-size: 20px;
      display:block;
      text-align: center;
      color: white;
      height: 37px;
      width: 37px;
      position: absolute;
      bottom: 0%;
      right: 0%;
      border-radius: 18px;
      border: 3px solid white;
    }
    &.art:after {
        content: '\e800'; //find all codes in css/fontello.css end.
        background-color: $green;
    }
    &.photography:after{
        content: '\e801';
        background-color: $orange;
    }
    &.music:after {
        content: '\e802';
        background-color: $themecolor;
    }
    &.travel:after{
        content: '\e803';
        background-color: $purple;
    }
  }

  .partner-footer{
    padding-top: 3vh;
  }
}

/*
 * 5. Categories - Holiday
 */

.holiday{
  padding-top: 3vh;

  .columns{
    padding: 10px;
  }

  h3{
    text-align: center;
    padding-bottom:2vh;
  }

  h4{
    font-weight: bold;
  }

  img{
    fill: 100%;
  }

  .holiday-image {
    background-position: center top;
    width: 100%;
    height: 350px;
    color: black;
    text-align: center;
    border-radius: 5px 5px 5px 5px;

    &.white-text {
      color: white;
    }
  }

  /*
   * Holiday category images
   * technique based on: https://gist.github.com/jareware/4738651
   */

  //images that are default text with black on-hover
  @each $image in $holiday-black{
    #image-#{$image}{
      @include block-background('/assets/block#{$image}.jpg');
    }
  }

  //images that are default text with white on-hover
  @each $image in $holiday-white{
    #image-#{$image}{
      @include block-background('/assets/block#{$image}.jpg');
      &:hover{
        color:white;
      }
    }
  }

  .small-4{
    padding: 1vh;
  }

  .small-8{
    padding: 1vh;
  }
}

/*
 * 6. Footer
 */

.footer-item{

  .row{
    margin-top: 0.1em;
  }

  color: #C2C2C2;
  font-weight: lighter;

  h5{
    color: black;
    font-weight: bold;
  }

  .text-theme{
    color: $themecolor;
    a{
      color: $themecolor;
    }
  }
  a {
    color: $grey;
    &:hover{
      color: $themecolor;
    }
  }
}

/*
 * 7. General Classes
 */

.border-top{
  border-top: solid $themecolor;
}

.button{
  &.redcurved {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border-color: $themecolor;
    border-width: 2px;
    background-color:white;
    color: $themecolor;
    &.filled{
      color:white;
      background-color:$themecolor;
    }
  }
  &.redcurved:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.theme-color{ //to change text to theme color
  color: $themecolor;
}