@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';


// Font icons
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
 * END OF FOUNDATION GENERATED
 */

// mixin


@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url($imgpath);
    position: $position;
    repeat: $repeat;
  }
  background-size: cover;
}

@mixin block-background ($imgpath){
  background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.3)), url($imgpath); //darken overlay.
  background-size: cover;

  &:hover{
    background: url($imgpath);
    background-size: cover;
  }
}

.homehead {
  @include background('/assets/headerBackground.jpg');
}

.theme-color{ //to change text to theme color
  color: $themecolor;
}

.button{
  &.redcurved {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border-color: $themecolor;
    background-color:white;
    color: $themecolor;
    &.filled{
      color:white;
      background-color:$themecolor;
    }
  }
  &.redcurved:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.container-center {
  padding-top: 25vh;
  margin: auto;
  text-align: center;
  color:$white;
}

.title-bar{
  background-color: darken($themecolor, 5%);
  .title-bar-title{
    width:100%
  }
}

.top-bar{
  background: none;
  color:white;
  text-align: center;
  ul{
    background: none;
    color:white;
    li {
      height: 2.5em;
      a {
        display: inline;
        background: none;
        color: $topbar-link-color;

        border: solid transparent;
        padding: 0.4rem;
        -webkit-border-radius: 1.4rem;
        -moz-border-radius: 1.4rem;
        border-radius: 1.4rem;
        &:hover {
          border: solid white;
        }
      }
    }
  }

  .top-bar-right{
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 5%;
  }

  .top-bar-left{

    @media screen and (max-width: 45em){
      //above for mobile screen
      ul{
        margin: auto;
        li{
          width: 100%;
        }
      }
      margin: auto;
    }

    margin-top: 10px;
    font-size: 1.5em;
    a:hover{
      border: solid transparent;
      color: $themecolor;
    }
  }
}

.main-home{
  margin: auto;
  padding-top: 4vh;
}

.fullpage{
  min-height: 100vh;
}

.partner-body{
  padding-top: 3vh;

  h5{
    font-weight: lighter;
    color: lightgray;
  }

  p {
    color:$grey;
  }

  .partner-mainheading{
    padding-bottom: 3vh;
  }

  .partner-image{
    position: relative;
    display: inline-block;
    img{
      background-size: auto;
      height: 122px;
      width: 122px;
      margin: auto;
      border-radius: 64px 64px 64px 64px;
    }
    &:after { //note any changes will affect all partner icons
      font-family: 'fontello';
      font-size: 1.2em;
      color: white;
      height: 37px;
      width: 37px;
      position: absolute;
      bottom: 0%;
      right: 0%;
      border-radius: 18px;
      border: 3px solid white;
    }
    &.art:after {
        content: '\e800'; //find all codes in css/fontello.css end.
        background-color: $green;
    }
    &.photography:after{
        content: '\e801';
        background-color: $orange;
    }
    &.music:after {
        content: '\e802';
        background-color: $themecolor;
    }
    &.travel:after{
        content: '\e803';
        background-color: $purple;
    }
  }

  .partner-footer{
    padding-top: 3vh;
  }
}

.holiday{
  padding-top: 3vh;

  .columns{
    padding: 10px;
  }

  h3{
    text-align: center;
    padding-bottom:2vh;
  }

  h4{
    font-weight: bold;
  }

  img{
    fill: 100%;
  }

  .holiday-image {
    background-position: center top;
    width: 100%;
    height: 350px;
    color: black;
    text-align: center;
    border-radius: 5px 5px 5px 5px;

    &.white-text {
      color: white;
    }
  }

  #sports-image{
    @include block-background('/assets/block1Sports.jpg');
  }

  #wellnessandhealth-image{
    @include block-background('/assets/block2Wellness.jpg');
  }

  #expeditions-image{
    @include block-background('/assets/block3Expeditions.jpg');
  }

  #games-image {
    @include block-background('/assets/block4Games.jpg');
  }

  #culureandeducation-image{
    @include block-background('/assets/block5Culture.jpg');
  }

  #beautyandrelaxation-image{
    @include block-background('/assets/block6Beauty.jpg');
  }

  #travelling-image{
    @include block-background('/assets/block7Travelling.jpg');
  }

  .small-4{
    padding: 1vh;
  }

  .small-8{
    padding: 1vh;
  }
}

footer{

  .row{
    padding-top: 1em;
  }

  .separator-red{
    width:100vw;
    background: $themecolor;
    height: 2px;
    border-style: solid;
  }

  .footer-item{
    color: #C2C2C2;
    font-weight: lighter;

    h5{
      color: black;
      font-weight: bold;
    }

    .text-theme{
      color: $themecolor;
      a{
        color: $themecolor;
      }
    }

    a {
      color: $grey;
      &:hover{
        color: $themecolor;
      }
    }
  }
}
